root{
    --cor-primaria:#ffcc00;
    --cor-secundaria:#001220;
}



* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
    
    
    
  }

    




/* ==========================================TESTES=================================== */

header{
    background:var(--cor-secundaria);
      

}

ul{
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
}

li{
    color: white;
    font-size: max(20px, 1vw);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    z-index: 1;
    position: sticky;
    padding: 23px 67px 23px 67px;
    
}
li:hover{
    background-color:#ffcc00;
    color:#001220;
}

a{
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    
}

.pulse {

  
  box-shadow: 0 0 0 rgba(204,169,44, 0.7);
  animation: pulse 1s infinite;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4)
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}









/* ==========================================TESTES=================================== */
  h1{
    cursor:default;
    color: white;
    font-size: max(60px, 4vw);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .header, section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }



  section {
    background: #6c0baa;
  }

  .header {
    background: #6c0baa;
    position: relative;
  }

  .header-bottom{
    height: 50vh;
  }

  div h1 {
    border: 5px solid white;
    padding: 10px 50px;
    margin: 50px;
    z-index: 2;
  }

  .flex{
    overflow: scroll hidden;
    overflow-x: hidden;
    /* position: absolute; */
    background-color:#6c0baa;
  }

  .waves {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: relative;
    overflow: scroll hidden;
  }

  .wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
  }



  /* ANIMATIONS */   /* ANIMATIONS */  /* ANIMATIONS */   /* ANIMATIONS */   /* ANIMATIONS */

  #wave1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
  }

  @keyframes moveWave1 {
    from {
      transform: translateX(-200px);
    }
  }

  #wave2 {
    animation: moveWave2 2s 1.2s ease-in-out infinite alternate;
  }

  @keyframes moveWave2 {
    from {
      transform: translateX(-110px);
    }
  }

  #wave3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
  }

  @keyframes moveWave3 {
    from {@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

      transform: translateX(-110px);
    }
  }
  #wave4 {
    animation: moveWave4 4s ease-in-out infinite alternate;
  }

  @keyframes moveWave4 {
    from {
      transform: translateX(-230px);
    }
  }

  #wave5 {
    animation: moveWave5 3s 1.2s ease-in-out infinite alternate;
  }

  @keyframes moveWave5 {
    from {
      transform: translateX(-20px);
    }
  }

  #wave6 {
    animation: moveWave6 1s 0.7s ease-in-out infinite alternate;
  }

  @keyframes moveWave6 {
    from {
      transform: translateX(-120px);
    }
  }
  #wave7 {
    animation: moveWave7 2s ease-in-out infinite alternate;
  }

  @keyframes moveWave7 {
    from {
      transform: translateX(-300px);
    }
  }

  #wave8 {
    animation: moveWave8 3s 1.2s ease-in-out infinite alternate;
  }

  @keyframes moveWave8 {
    from {
      transform: translateX(-80px);
    }
  }

  #wave9 {
    animation: moveWave9 3s 0.7s ease-in-out infinite alternate;
  }

  @keyframes moveWave9 {
    from {
      transform: translateX(-260px);
    }
  }
  
  
