@keyframes move {
    0% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30%);
    }
}

#wave1 {
    animation: move 20s infinite;
}

#wave2 {
    animation: move 15s infinite;
    animation-delay: 1s;
}

#wave3 {
    animation: move 17s infinite;
    animation-delay: 0s;
}

#wave4 {
    animation: move 19s infinite;
    animation-delay: 0s;
}

#wave5 {
    animation: move 21s infinite;
    animation-delay: 0s;
}

#wave6 {
    animation: move 16s infinite;
    animation-delay: 0s;
}

#wave7 {
    animation: move 18s infinite;
    animation-delay: 0s;
}

#wave8 {
    animation: move 20s infinite;
    animation-delay: 0s;
}

#wave9 {
    animation: move 17s infinite;
    animation-delay: 0s;
}